.footer-section {
  border-top: 1px solid whitesmoke;
  margin-top: 3em;
  padding: 1.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.social-icons {
  display: flex;
  margin-left: 1em;
  justify-content: space-evenly;
  width: 20%;
}

.social-icon {
  font-size: 2rem;
  background-color: transparent;
}

@media only screen and (max-width: 600px) {
  .footer-section {
    flex-direction: column;
    gap: 10px;
  }

  .social-icons {
    width: 100%;
    margin-left: 0;
  }
}
